<div class="container">

	<div class="row">
      <div class ="col-md-12 alert">

Thank you for your interest in our Partner Program. Please complete the following form. 

We promise to keep your information private. 

      </div>
    
	</div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" id="name" class="form-control" required>
        <label class="form-control-placeholder" for="name">Company Name *</label>
      </div>
      <div class="form-group">
        <input type="text" id="phone" class="form-control" required>
        <label class="form-control-placeholder" for="phone">Phone *</label>
      </div>
      <div class="form-group">
        <input type="text" id="w-address" class="form-control" >
        <label class="form-control-placeholder" for="w-address">Website Address</label>
      </div>
      <div class="form-group">
        <input type="text" id="contact_P_Name" class="form-control" >
        <label class="form-control-placeholder" for="contact_P_Name">Contact Person Name</label>
      </div>
        <div class="form-group">
        <input type="text" id="contact_P_Email" class="form-control" >
        <label class="form-control-placeholder" for="contact_P_Email">Contact Person Email ID</label>
      </div>
 <div class="form-group">
        <input type="text" id="Contact_P_phone" class="form-control" required>
        <label class="form-control-placeholder" for="Contact_P_phone">Contact Person Phone </label>
      </div>


    </div>
    <div class="col-md-6">
    	Where is your company located
      <div class="form-group">
        <input type="text" id="name" class="form-control" required>
        <label class="form-control-placeholder" for="name">Company Name *</label>
      </div>
      <div class="form-group">
        <input type="text" id="phone" class="form-control" required>
        <label class="form-control-placeholder" for="phone">Phone *</label>
      </div>
      <div class="form-group">
        <input type="text" id="w-address" class="form-control" required>
        <label class="form-control-placeholder" for="w-addressw-address">Website Address</label>
      </div>
       
    </div>
  </div>
</div>
