 <footer class="container-fluid bg-dark">
  <div class="row">
      <div class ="col-md-12">
        <span >&nbsp;</span>
      </div>
      </div>

      <div class="row">
      <div class ="col-md-12 text-center">
        <h5 class="text-muted" >&copy; 2018-2019</h5>
      </div>
      </div>
      <div class="row">
      <div class ="col-md-12">
        <span >&nbsp;</span>
      </div>
      </div>
      <div class="row">
         <div class="col-md-1"></div>
        <div class="col-md-3">
          <h5 class="text-muted">Contact</h5>
          <a class="email text-muted" href="mailto:myexpertmedics@gmail.com">myexpertmedics@gmail.com</a><br>
          <span class="text-muted">49 Jurong East Avenue 1,</span><br>
            <span class="text-muted">#04-03, Singapore </span>, <br>
            <span  class="text-muted">609781</span><br>
        </div>
        <div class="col-md-3">
          <h5 class="text-muted">SOCIAL</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Home</a> </li>
           <li><a class="text-muted" href="#">About</a> </li>
            <li><a class="text-muted" href="#">Service</a>  </li>
            <li><a class="text-muted" href="#">Appointment</a>  </li>
          </ul>
        </div>
        
        <div class="col-md-2">
          <h5 class="text-muted">Terms of Use</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/ourdoctors#privacyPage">Privacy Policy</a></li>
            <li><a class="text-muted" href="/ourdoctors#ReprintLicensing">Reprints & Licensing </a></li>
            <li><a class="text-muted" href="/ourdoctors#SocialMediaPolicy">Social Media Policy </a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5 class="text-muted">Newsletter Sign up</h5>
          <span class="text-muted text-small"> stay updated with latest news  from MyExpert Medics.
           <form>
           <div class="row form-group">
            <div class="col-md-10">
            <label for="email">Email <br></label>
            <input type="text" class="form-control footer_subscription bg-secondary" id="email" />
            <br />
                <button type="button" class="btn btn-info sharp-edges">Submit</button>

          </div>
          </div>
        </form>
          </span>

           <br />
           
        </div>
      </div>
     
      <div class="row">
      <div class ="col-md-12">
        <span >&nbsp;</span>
      </div>
      </div>
    </footer> 
