<!--mat-faq [faqList]="list"></mat-faq>-->
<div class="container">
   <br/>
  <h1 class="h1 page-title text-center text-muted">Frequently Asked Questions</h1>

<div class="row">
    <div class="col-md-1">
</div>
  <div class="col-md-10">
<section class="home" >
    <div class="container">
    <!--  <mat-faq  [faqList]="list"></mat-faq> -->
     
     <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         1. When should you use MyExpertMedics?
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <ul>
        <li> MyExpertMedics provides online second medical opinion from highly qualified doctors, leaders in their respective fields. Contact MyExpertMedics when there is uncertainty about a diagnosis or want to reaffirm a medical plan of action. </li>
         <li>MyExpertMedics team will review the reports provided by you and might advise further specific investigations to confirm a diagnosis. In case there is difference of opinion on a medical plan of management our expert team will help you in explaining the pros and cons of each plan of action. 
       </li>
  </ul>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          2.  How does MyExpertMedics select a physician for me?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        The physicians we work with for second opinions are experts in their respective fields and include physicians practicing at leading medical hospitals.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         3. How do I start a new online consult with MyExpertMedics?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
       Clients can follow the below simple steps: 
       <ol>
       <li>  Start as a new Client by registering the credentials at the Client log in page </li>
<li> You will only need to enter a few basic details to be able to register </li> 
<li> Once you are registered you can enter your case details and upload additional supporting client information (for example X-rays, CT Scan, MRI Scan, Blood Reports) into our user friendly website</li>
<li> Upon making the payment Client will get an acknowledgment email from MyExpertMedics team and a timeframe to provide the MyExpertMedics Physician report. </li> 
</ol>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          4.  What will my treating physician think about MyExpertMedics reviewing his/her diagnosis?
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
       Getting another doctor to look at your case is a reasonable and responsible thing to do. Generally, we find that treating doctors are enthusiastic about receiving guidance from the top physicians in their fields.
      </div>
    </div>
  </div>

<div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
           5.  I’m located outside of the Singapore, can MyExpertMedics help me?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
       Getting another doctor to look at your case is a reasonable and responsible thing to do. Generally, we find that treating doctors are enthusiastic about receiving guidance from the top physicians in their fields.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          4.  What will my treating physician think about MyExpertMedics reviewing his/her diagnosis?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
       Getting another doctor to look at your case is a reasonable and responsible thing to do. Generally, we find that treating doctors are enthusiastic about receiving guidance from the top physicians in their fields.
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          4.  What will my treating physician think about MyExpertMedics reviewing his/her diagnosis?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
       Getting another doctor to look at your case is a reasonable and responsible thing to do. Generally, we find that treating doctors are enthusiastic about receiving guidance from the top physicians in their fields.
      </div>
    </div>
  </div>
</div>
     <!-- <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    {{node.item}}
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button
            [attr.aria-label]="'toggle ' + node.filename" matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.item}}
    <mat-progress-bar *ngIf="node.isLoading"
                      mode="indeterminate"
                      class="example-tree-progress-bar"></mat-progress-bar>
  </mat-tree-node>
</mat-tree>

-->
    </div>

  </section>
</div>

<div class="col-md-1">

  
</div>

</div>
   </div>       