<div class="container">
 
   <h3 class="text-muted">Reprints & Licensing </h3>
   <blockquote class="small text-dark">Our reprints & licensing policy explains the options for using copyrighted material from our website(s).
In furtherance of its charitable mission in providing educational resources to its community and the general public, MEM has developed and created educational health information. All material appearing on MEM, and other websites owned and run by the MEM Foundation is copyrighted and cannot be reused without permission. This policy explains the options for using copyrighted material from our website(s).
</blockquote>
<h5 class="text-muted"> Education Materials </h5>
<blockquote class="small text-dark"> “Material” includes without limitation, all text, data, illustrations, graphical elements, animation, photos and tools, appearing on this site.
Although all pages that provide health information have been written or reviewed and approved by MEM physicians or health professionals unless otherwise specified, the material contained on these pages are not intended to replace the medical advice of your doctor or health care provider. Please consult your health care provider for advice about a specific medical condition. Please remember that these materials, in the absence of a visit with a health care professional, must be considered as an educational service only and are not designed to replace a physician's independent judgment about the appropriateness or risks of a procedure for a given patient.
Please consult your health care provider for advice about a specific medical condition.</blockquote>
<h5 class="text-muted">Ownership</h5>
<article class="small text-dark"> All Materials are the sole and exclusive property of MEM unless otherwise noted, and you acquire no right, license, title or interest therein or thereto through the use of this website.
In no event shall you modify, delete or change in any way any MEM copyright or trademarks or other MEM ownership designations or any Materials.
Right to Use and Restrictions on Use
You may only print one single copy of any of the materials on this site provided that such materials may only be reprinted for personal, non commercial use. Otherwise, reproduction of materials in any form is prohibited except with the prior written permission of MEM.
No edits or alterations to the material are permitted. MEM copyright notice must not be removed from any material.
Reprint rights do not allow you to repackage, sell, resell, post on blogs or any other website, display, republish, reproduce, link or frame or store any material without expressed written permission.

</article>
<div> &nbsp;</div>
  
</div>
<div id="h1" class="container">
 
   <h3 class="text-muted">Reprints & Licensing </h3>
   <blockquote class="small text-dark">Our reprints & licensing policy explains the options for using copyrighted material from our website(s).
In furtherance of its charitable mission in providing educational resources to its community and the general public, MEM has developed and created educational health information. All material appearing on MEM, and other websites owned and run by the MEM Foundation is copyrighted and cannot be reused without permission. This policy explains the options for using copyrighted material from our website(s).
</blockquote>
<h5 class="text-muted"> Education Materials </h5>
<blockquote class="small text-dark"> “Material” includes without limitation, all text, data, illustrations, graphical elements, animation, photos and tools, appearing on this site.
Although all pages that provide health information have been written or reviewed and approved by MEM physicians or health professionals unless otherwise specified, the material contained on these pages are not intended to replace the medical advice of your doctor or health care provider. Please consult your health care provider for advice about a specific medical condition. Please remember that these materials, in the absence of a visit with a health care professional, must be considered as an educational service only and are not designed to replace a physician's independent judgment about the appropriateness or risks of a procedure for a given patient.
Please consult your health care provider for advice about a specific medical condition.</blockquote>
<h5 class="text-muted">Ownership</h5>
<article class="small text-dark"> All Materials are the sole and exclusive property of MEM unless otherwise noted, and you acquire no right, license, title or interest therein or thereto through the use of this website.
In no event shall you modify, delete or change in any way any MEM copyright or trademarks or other MEM ownership designations or any Materials.
Right to Use and Restrictions on Use
You may only print one single copy of any of the materials on this site provided that such materials may only be reprinted for personal, non commercial use. Otherwise, reproduction of materials in any form is prohibited except with the prior written permission of MEM.
No edits or alterations to the material are permitted. MEM copyright notice must not be removed from any material.
Reprint rights do not allow you to repackage, sell, resell, post on blogs or any other website, display, republish, reproduce, link or frame or store any material without expressed written permission.

</article>
<div> &nbsp;</div>
  
</div>